/** standard font **/

$main-font-family: 'Lato', sans-serif;
$secondary-font-family: 'Roboto', sans-serif;
$third-font-family: 'Open Sans', sans-serif;

$font-size-1: 34px;
$font-size-2: 24px;
$font-size-3: 18px;
$font-size-4: 14px;
$font-size-5: 12px;

$icon-size-1: 34px;
$icon-size-2: 14px;
$icon-size-3: 10px;