/** standard color **/

$main-bg-color: #000;
$primary-color: #fff;
$secondary-color: #1a7def;

$button-color: #1a7def;

$font-color-1: #fff;
$font-color-2: #1a7def;
$font-color-3: #878ef6;

$icon-color-1: #fff;